#gradient {
    height: 641px;
    background-color: red;
    background-image: linear-gradient(#12c2e9, #c471ed, #f64f59);
}

.heading {
    color: red;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    font-style: italic;
    text-shadow: 2px 2px 8px #1aff1a;
}

td {
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    background-color: yellow;
    color: white;
    border-radius: 30px;
    width: 30;
    height: 30;
}

input {
    padding: 20px 28px;
    border: 1px solid black;
}

table {
    border: 3px solid black;
    margin-top: 80px;
    border-radius: 20px;
}

.grey {
    background-color: #D4D6D2
}

.yellow {
    background-color: #E19A00
}

.black {
    background-color: #3B3B3A
}

.grey:hover {
    background-color: #A9B1A0
}

.yellow:hover {
    background-color: #FFAE00;
}

.black:hover {
    background-color: #070600;
}